html{background-color: burlywood;}
.lista{
    color:blue;font-size: 20px; font-family: 'Times New Roman', Times, serif;}

ul{
    list-style-type: disc;
}
ul{list-style-type: disc;}
li::marker{color: red;font-size: 26px;}