a:hover {
    background-color: white;
}



@font-face {
    font-family: 'Milky';
    src: url(./Fonte/MilkyNice.otf), url(./Fonte/MilkyNice.ttf);
}

@font-face {
    font-family: 'team';
    src: url(./Fonte/B-TEAM.otf);
}

td,
th {
    border: solid white;
    border-style: double;
    text-align: center;
}

.letra {
    color: cyan;
    width: 98vw;
    height: 48vh;


}

html {
    background-color: black;
    
    
}

.lista {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    color: gold;
    
}

.fundo {
    color: aliceblue;
}

.links {
    color: gold;
}



.sem {
    text-decoration: none;
   
}



.h1h3 {
    color: firebrick;
    margin: 20px;
}

.alinhar-centro {
    text-align: center;
    color:chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
   
}

.centralizar {
    text-align: center;
    font-family: 'Milky';
    
   
}

.AC {
    text-align: center;
}

header {
    left: 10px;
    right: 10px;

    background-color: darkgreen;
    position: fixed;
    color: aliceblue;
    font-size: 18px;
    padding: 8px;
    top: 4px;
    border: double white 2px;
    text-align: center;

}

body {
    padding-top: 95px;

}

h3 {
    margin: 20px;
    color: white;
}
h2{color:cyan;}
h1 {
    margin: 20px;
}

a {
    margin: 10px;
    color:cyan;
}

.iframe{ height: 300px; border:yellow; border-style: double; }

.coluna{display: flex;
    flex: 1;
    flex-direction: column;
  margin: 5px;
    width: 300px;
    background-color: brown;
    
}

.logo{display: flex;
   
 width: 100%;
    max-width: 100%;
    flex-wrap: wrap;}

    h2{text-align: center;}

    
img{width: 100%;
height: 300px;}

.link{text-align: end;flex-wrap: wrap;}