

a:hover {
    background-color: white;
}



@font-face {
    font-family: 'Milky';
    src: url(./Fonte/MilkyNice.otf), url(./Fonte/MilkyNice.ttf);
}

@font-face {
    font-family: 'team';
    src: url(./Fonte/B-TEAM.otf);
}


td,
th {
    border: solid white;
    border-style: solid;
    text-align: center;
    
}

.letra {
    color: cyan;
    width: 98vw;
    height: 48vh;
    margin-top: 50px;

}



html {
    background-color: black;
    
    
    
}

.lista {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    color: gold;
    
}

.fundo {
    color: aliceblue;
}

.links {
    color: gold;
}



.sem {
    text-decoration: none;
    margin: 10px;
   
}



.h1h3 {
    color: firebrick;
    margin: 20px;
}

.alinhar-centro {
    text-align: center;
    color:chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
   
}

.centralizar {
    text-align: center;
    font-family: 'Milky';
    flex-direction: column;
    flex-wrap: wrap;
    
    
    
   
}

.AC {
    text-align: center;
}

header {
  margin-left: 2px;
    background-color: darkgreen;
    position: fixed;
    color: aliceblue;
    font-size: 18px;
    padding: 8px;
    top: 4px;
    border: double white 2px;
    text-align: center;
    width:96%;
   
    
}

body {
    margin-top: 170px;

}

h3 {
    margin: 10px;
    color: white;
}
h2{color:cyan;}
h1 {
    margin: 20px;
    
    
    
}

a {
    margin: 20px;
    color:white;
   
}

.iframe{ height: 300px; border:yellow; border-style:outset;border-radius: 5%; }

.coluna{display: flex;
    flex: 1;
    flex-direction: column;
  margin: 5px;
    width: 300px;
    background-color:darkred ;
    border-radius: 5%;  
    
}




.coluna img{border-radius: 5%;}

.logo{display: flex;
   
 width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

    h2{text-align: center;}

    
img{width: 100%;
height: 300px;}

.sugestao{text-align: center; font-size: 20px;}


